<?xml version='1.0' encoding='utf-8'?>
<widget id="site.calculadora" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Calculadora</name>
    <description>
        Calculadora Sencilla.
    </description>
    <author email="mail@gmail.com" href="https://mysite.site">
        José María Sánchez Ruiz (Tecnobillo)
    </author>
    <content src="index.html" />
    <icon src="calculadora.png" />
</widget>
